body{
    margin: 0;
    padding: 0

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

.brand-ctn {
    display: flex;
    justify-content: center;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');
    height: 100vh;
}
