body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
}
.nav-list {
  display: flex;
}

nav {
  border-bottom: 1px dotted wheat;

  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14");
  height: 80px;
  /* margin: -18px; */
  padding: 2% 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
}

#logo {
  box-sizing: border-box;
  width: 450px;
  margin: -200px;
  padding: -220px;
  position: sticky;
  top: 5%;
  left: 35%;
  z-index: 1;
}

.logoSmallerAnime {
  /* box-sizing: border-box; */
  width: 450px;
  margin: -200px;
  padding: -220px;

  z-index: 1;
  transform: translateY(-20%) scale(0.9);
  transition: 1s;
  position: sticky;
  top: 25px;
  left: 35%;
}

.logoLargerAnime {
  transform: translateY(55px) scale(1);
}

/* .fix-logo{
    position: fixed;
    top: 30px;
} */

#inner-border {
  /* width: 100vw; */
  border-bottom: 1px solid lightslategray;
  height: 8px;
  box-shadow: 0 8px 6px -6px black;

  /* margin-bottom: 8px; */
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14");
}

/* #outter-border{
    margin: 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    z-index: 10;
    width: 100%;
    height: 0;
}  */

#border-ctn {
  height: 20px;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14");
}

.brand-ctn {
  display: flex;
  justify-content: center;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14");
  height: 100vh;
  width: 100vw;
  border-top: 1px dotted wheat;
  padding-top: 12%;
}

.brand {
  position: absolute;
  /* left: 25%; */
  /* width: 80%; */
  /* align-self: center; */
}

@font-face {
  font-family: "CocomatLight";
  src: url("/Users/treaganbirbal/Downloads/cocomat-font/CocomatLight-ZXY3.ttf");
  src: url("/Users/treaganbirbal/Downloads/cocomat-font/CocomatUltralight-3ngp.ttf");
}

.carousel-ctn {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  align-self: center;
}

.carousel_slide img {
  width: 97%;
  height: 97%;
  object-fit: cover;
  margin-left: 2%;
  margin-top: 2%;
}

.carousel_track_ctn {
  background-color: whitesmoke;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-btn {
  font-size: larger;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn-left {
  font-size: xx-large;
  color: azure;
  left: -40px;
}

.btn-right {
  font-size: xx-large;
  color: azure;
  right: -40px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_nav_btn {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 12px;
}

.carousel_nav_btn.current {
  background: rgba(0, 0, 0, 0.75);
}

/* .isHidden {
  display: none;
} */

.about-ctn {
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=e4d8b4ff&noise=626262&density=15&opacity=16");
  height: 100vh;
  padding-top: 5%;
}

/* .about-ctn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
} */
.cards-ctn {
  /* width: 100vw; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* padding: 0 5%; */
  margin: 0 10%;
  align-self: center;
}
.about-ctn > .cards-ctn {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* padding: 0 5%; */
  margin: 0 10%;
  align-self: center;
}

.portfolio-ctn .carousel-ctn {
  /* max-height: 500px; */
}
.card {
  /* border: 1px solid black; */
  padding: 10%;
}

.card_img {
  width: 140px;
}

.line_design {
  /* font-style: ; */
  font-size: large;
  font-weight: 900;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: -7.5px;
  left: 45%;
}

.xxx {
  font-size: 20px;
  /* text-transform: uppercase; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  /* top: -7.5px; */
  left: 45%;
}

.about-ctn h1 {
  font-size: 75px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px #ff0000;
}

.section_subtitle {
  text-align: center;
}

.portfolio-ctn {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 80px;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=e88f6fff&noise=626262&density=24&opacity=21");
}

.portfolio-ctn > img {
  margin-left: 50%;
}
.blog-ctn {
  display: none;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=#DFDCDAff&noise=626262&density=18&opacity=16 ");
}

.contact-ctn {
  /* display: none; */
  height: 50vh;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=484c52ff&noise=626262&density=33&opacity=33");
  display: flex;
  padding-top: 5%;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}
.contact-ctn img {
  text-shadow: 2px 2px;
}
form {
  max-width: 800px;
  justify-content: center;
  margin: 20px auto;
  padding: 2%;
}

input {
  width: 800px;
  margin-bottom: 2%;
  padding: 2% 0;
}

input[type="text"] {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  color: black;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  background-color: FDF0CF;
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  transition: background-color 0.5s ease;
}
textarea {
  font-family: "Josefin Sans", sans-serif;
  /* min-width: 400px; */
  min-height: 200px;
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
}
button {
  position: relative;
  height: 50px;
  /* float: right; */
}

.social-ctn {
  /* display: none; */
  display: flex;
  padding-top: 20%;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=484c52ff&noise=626262&density=33&opacity=33");
  align-content: space-between;
  justify-content: center;
  padding-bottom: 8%;
}

.social-ctn img {
  max-height: 90px;
}

.icon_ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-inner,
.icon-outer {
  margin: 5% 1%;
}

.icon-inner:hover {
  transform: translateY(-8px);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.social_heading {
  display: flex;
  justify-content: center;
}

.portfolio-ctn .card {
  max-height: 80%;
  overflow: scroll;
}

.portfolio-ctn .card-1,
.portfolio-ctn .card-2,
.portfolio-ctn .card-3,
.portfolio-ctn .card-4 {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  /* border: 1px solid black; */
  align-content: center;
  /* margin-top: 3%; */
  margin-left: 5%;
  margin-right: 5%;
  justify-items: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  padding: 5%;
}

.card1-img {
  width: 100%;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #74b4b4;
  font-size: 16px;
  font-weight: 300px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0px auto;
  border-radius: 20px;
  box-shadow: 0 6px #199696;
}

.btn:hover {
  box-shadow: 0 4px #199696;
  top: 2px;
}

.btn:active {
  box-shadow: 0 0px #efa424;
  top: 6px;
}

.banner {
  /* background-image: url('/assets/4k-wallpaper-adventure-aerial-670061.jpg'); */
  background-attachment: fixed;
  /* background-color: #cccccc; */
  height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner p {
  color: #5b84b1ff;
  font-size: 22px;
  font-weight: 100;
  position: absolute;
  top: 280px;
  left: 29%;
  /* text-shadow: 1px 1px black; */
}

.banner h1 {
  position: relative;
  top: 200px;
  text-align: center;
  color: coral;
  font-size: 70px;
  font-family: "Poiret One", cursive;
  font-weight: 200;
  text-shadow: 2px 2px gray;
}

card3-detail {
  font-weight: 100;
}

.card-container img {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: -30px;
  margin-bottom: -10px;
  text-align: center;
  color: lightsalmon;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-shadow: 4px 4p khaki;
}

#about {
  padding: 25%;
  /* background-image: url("https://www.hoasted.com/wp-content/uploads/2015/05/Gradient-blue-1.jpg"); */
  /* transform: rotate(20deg); */
  color: white;
  /* background: rgb(105, 90, 205);   */
  height: 1080px;
  padding-top: 50px;
}

#projects h1 {
  margin-top: 7%;
}

.project_img {
  width: 100%;
  border-radius: 3%;
}

.card_img-4 {
  height: 140px;
}

#projects a {
  align-self: center;
  border-color: #f2f2f2;
  /* border-top-color: aqua; */
  border-bottom-color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
/* a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: aqua;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
} */

p {
  font-family: "Abel", sans-serif;
  font-size: 17px;
}

h3,
h2 {
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .brand img {
    /* display: none; */
    margin-top: 10%;
    max-width: 100vw;
  }
  .carousel-ctn {
    margin-top:30%;
    width: 100%;
  }
  .about-ctn{
    width: 100vw;
    height: 100%;
  }
  .portfolio-ctn {
    width: 100vw;
    height: 100%;
  }
  .social-ctn {
    display: flex;
    justify-content: flex-end;
  }
  #logo {
    /* width: 80%; */
    position: absolute;
justify-self: center;    
top: 190px;
    z-index: 10;
  }
  .contact-ctn img {
    max-width: 100vw;
  }
  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    max-width: 100vw;
    height: 160px;
    /* min-height: 250px; */
    margin-top: 130px;
    /* margin-bottom: 200px; */
    margin-right: 50px;
    margin-left: 50px;
    padding: 2%;
  }
  input,
  textarea {
    display: flex;
    width: 200px;
  }
  .btn {
    width: 80px;
    padding: 20px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .icon_ctn {
    width: 100vw;
  }
  .icon_ctn img {
    width: 80%;
  }
  nav{
    display: none;
  }
}

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.topnav {
  /* overflow: hidden;
  background-color: #333; */
  border-bottom: 1px dotted wheat;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
