body{
    margin: 0;
    padding: 0

}

.nav-list{
    display: flex;
}

nav{
    border-bottom: 1px dotted wheat;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');
    height: 80px;
    /* margin: -18px; */
    padding: 2% 0;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

 nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

nav a {
    font-size: 20px
}

#logo{
    width: 450px;
    margin: -200px;
    /* padding: -220px; */
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 1;
}

#inner-border{
    /* width: 100vw; */
    border-bottom: 1px solid lightslategray;
    height: 8px;
    box-shadow: 0 8px 6px -6px black;

    /* margin-bottom: 8px; */
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');
}

 /* #outter-border{
    margin: 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    z-index: 10;
    width: 100%;
    height: 0;
}  */

#border-ctn{
    height: 20px;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');

}



.brand-ctn {
    display: flex;
    justify-content: center;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');
    height: 100vh;
    border-top: 1px dotted wheat;
    padding-top: 12%;

}

.brand{
    position: absolute;
    left: 25%;
}

@font-face{
    font-family: 'CocomatLight';
    src: url('/Users/treaganbirbal/Downloads/cocomat-font/CocomatLight-ZXY3.ttf');
    src: url('/Users/treaganbirbal/Downloads/cocomat-font/CocomatUltralight-3ngp.ttf')
}

.carousel-ctn{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
    align-self: center;
    right: 400px;
}

.carousel_slide img{
    width: 97%;
    height: 97%;
    object-fit: cover; 
    margin-left: 2%;
    margin-top: 2%;
}

.carousel_track_ctn{
    background-color: whitesmoke;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.carousel-btn{
    font-size: larger;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    cursor: pointer;
}

.btn-left{
    left: -40px;
}

.btn-right{
    right: -40px;
}

.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_nav_btn{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 12px;
}

.carousel_nav_btn.current{
    background: rgba(0, 0, 0, 0.75);
}

.isHidden{
    display: none;
} 

.about-ctn{
    background-image :url('http://api.thumbr.it/whitenoise-361x370.png?background=e4d8b4ff&noise=626262&density=15&opacity=16');
}

/* .about-ctn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
} */


.cards-ctn{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0 5%;
    margin: 0 10%;
    align-self: center;
}
.card {
    /* border: 1px solid black; */
    padding: 10%;
}

.card_img{
    width: 140px;
}

.line_design{
    /* font-style: ; */
    font-size: large;
    font-weight: 900;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    top: -7.5px;
    left: 45%;
}

.xxx{
    font-size: 20px;
    /* text-transform: uppercase; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    /* top: -7.5px; */
    left: 45%;
}

.about-ctn h1{
    font-size: 75px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px #FF0000;
}

.section_subtitle{
    text-align: center;
}

.portfolio-ctn{
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=e88f6fff&noise=626262&density=24&opacity=21');
}
.blog-ctn{
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=#DFDCDAff&noise=626262&density=18&opacity=16 ');
}

.contact-ctn{
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=484c52ff&noise=626262&density=33&opacity=33');
}

.social-ctn{
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=484c52ff&noise=626262&density=33&opacity=33');
}

.linkedIn_icon{
    width: 15px;
}