body{
    margin: 0;
    padding: 0

}

.nav-list{
    display: flex;
}

nav{
    border-bottom: 1px dotted wheat;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');
    height: 80px;
    margin: -18px;
    padding: 2% 0
}

 nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

#logo{
    /* width: 20px; */
    margin: -200px;
    /* padding: -220px; */
}

.brand-ctn {
    display: flex;
    justify-content: center;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=74b4b4ff&noise=626262&density=85&opacity=14');
    height: 100vh;
}
